.Main {
  margin: 10px auto;
  /* max-width: 900px; */
}
.Title {
  text-align: center;
  padding: 25px;
}
.Number {
  text-align: center;
  display: block;
  overflow: auto;
}

.searchArea {
  display: block;
  margin: auto;
  border-radius: 5px;
  height: 25px;
  text-align: center;
  font-size: 1.2em;
}
.submitButton {
  display: block;
  margin: 10px auto;
  background-color: #61dafb;
  border-radius: 5px;
  border: white;
  width: 100px;
  height: 35px;
}
